<extend name="Base/common"/>

<block name="body">
  <div class="page-header">
    <h1>Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a href="#" class="list-group-item active">Basic Information</a>
        <a href="#" class="list-group-item">Major</a>
        <a href="#" class="list-group-item">Address</a>
        <a href="#" class="list-group-item">Security</a>
      </div>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Basic Information</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>User Name</dt>
            <dd>Admin</dd>
            <dt>Nick Name</dt>
            <dd>admin</dd>
            <dt>Sex</dt>
            <dd>Male</dd>
            <dt>Phone</dt>
            <dd>186-2546-9587</dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Major</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>First Major</dt>
            <dd>Computer</dd>
            <dt>Second Major</dt>
            <dd>Information Science</dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Address</h3>
        </div>
        <div class="panel-body">
          <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>

          <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
          </address>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Security</h3>
        </div>
        <div class="panel-body">
          <p class="text-primary">Login Password</p>
          <p class="text-success">Emali Validate</p>
          <p class="text-info">Phone Validate</p>
        </div>
      </div>
    </div>
  </div>
</block>
