
    <!-- 底部
    ================================================== -->
    <footer class="common-footer">
        <p>
            Designed and built with all the love in the world by
            <a href="mailto:43874051@qq.com">@niko</a>. 
            Maintained by the niko team with the help of our contributors.
        </p>
        <p>
            All content copyright &copy; <?php echo date('Y') ?> • All rights reserved.
        </p>
    </footer>
<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
