<extend name="Base/common-nofooter"/>

<block name="body">
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a href="{:U('Settings/publish')}">Publish</a>
            </li>
            <li>
                <a href="{:U('Settings/message')}">Message</a>
            </li>
            <li>
                <a href="{:U('Settings/location')}">Location</a>
            </li>
            <li class="active">
                <a href="{:U('User/user_list')}">User</a>
            </li>
            <li>
                <a href="{:U('Settings/curricula')}">Curricula</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <ol class="breadcrumb">
        <li><a href="{:U('Settings/publish')}">Settings</a></li>
        <li><a href="{:U('User/user_list')}">User</a></li>
        <li class="active">{$member.nickname}</li>
        </ol>
        <div>
          <a href="javascript:history.go(-1);" title="Return last page." class="btn btn-default btn-sm pull-right" ><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp;返回</a>
          <a href="javascript:open_dialog();" title="Return last page." class="btn btn-primary btn-sm pull-right" style="margin-right: 10px;">编辑</a>
          <h3>{$member.nickname}</h3>
        </div>
        <hr class="featurette-divider" style="margin-top: 30px">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">基本信息</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>姓名</dt>
                            <dd>{$member.nickname}</dd>
                            <dt>性别</dt>
                            <dd><eq name="member.gender" value="1">男<else/>女</eq></dd>
                            <dt>角色</dt>
                            <dd>{$member.grade_name}</dd>
                            <dt>专业</dt>
                            <dd>{$member.major_name}</dd>
                            <dt>研究方向</dt>
                            <dd>{$member.research|default="-"}</dd>
                            <dt>兴趣</dt>
                            <dd>{$member.interests|default="-"}</dd>
                            <dt>在研项目</dt>
                            <dd>{$member.projects|default="-"}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录统计</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>最后登录IP</dt>
                            <dd>{$member.last_login_ip}</dd>
                            <dt>登录次数</dt>
                            <dd>{$member.login_count}</dd>
                            <dt>最后登录时间</dt>
                            <dd>{$member.last_login_time|date="Y-m-d H:i:s",###}</dd>
                        </dl>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">课程表</h3>
            </div>
            <div class="panel-body">
                <empty name="member.curricula">
                    <div class="text-center" style="margin-bottom: 5px;">
                        <span class="text-info"><strong>No curricula.</strong></span>
                    </div>
                <else />
                <div style="margin-bottom: 5px;">
                    <span class="text-primary pull-right">{$member.curricula.term_start|date="Y年",###} 第{$member.curricula.term}学期 (第{$member.curricula.term_start|date="W",###}周 ~ 第{$member.curricula.term_end|date="W",###}周)</span>
                    <span class="text-primary"><a href="{:U('Settings/curricula_detail')}/curricula/{$member.curricula_id}">{$member.curricula.name} ({$member.curricula.class}班)</a></span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped responsive-utilities">
                        <thead>
                        <tr>
                            <th width="180">#</th>
                            <th>周一</th>
                            <th>周二</th>
                            <th>周三</th>
                            <th>周四</th>
                            <th>周五</th>
                            <th width="100">周六</th>
                            <th width="100">周日</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="member.curricula.courses" item="row">
                            <tr>
                                <th scope="row">第 {$key}/{$key+1} 节</th>
                                <foreach name="row" item="course" key="k">
                                    <empty name="course">
                                        <in name="k" value="6,7">
                                            <td class="bg-warning"></td>
                                            <else/>
                                            <td></td>
                                        </in>
                                        <else />
                                        <td class="bg-success">
                                            <div>
                                                <span class="text-success">{$course.name} | {$course.teacher} | {$course.classroom} | {$course.period}周</span>
                                            </div>
                                        </td>
                                    </empty>
                                </foreach>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
                </empty>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">Edit User</h4>
            </div>
            <div id="editFormPage" class="modal-body">
            </div>
            <div class="modal-footer">
                <div id="edit-tips" class="Validform_checktip text-danger pull-left"></div>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm" onclick="edit_member();">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ajaxStart(function(){
        $("button:submit").attr("disabled", true);
    }).ajaxStop(function(){
        $("button:submit").attr("disabled", false);
    });

    function open_dialog(){
        $("#editFormPage").empty();
        $("#edit-tips").empty();
        $("#editFormPage").load("{:U('User/member_edit')}/uid/{$member.uid}");
        $('#editModal').modal('show');
    }

    function edit_member(){
        var self = $("#editMemberForm");
        $.post(self.attr("action"), self.serialize(), function(data){
            if(data.errno == 0){
                $("#edit-tips").addClass('text-success');
                $("#edit-tips").removeClass('text-danger');
                $("#edit-tips").text(data.errmsg);
                window.location.href = data.url;
            } else {
                var location = data.location;
                if($('#msg'))
                {
                    $('#msg').empty();
                    $('#msg').remove();
                }
                if(location){
                    $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
                }else{
                    $('#edit-tips').text(data.errmsg);
                }
            }
        }, "json");
    }
</script>
</block>
