<form id="editMemberForm" class="form-horizontal" action="{:U('User/member_edit_submit')}">
    <div class="form-group">
        <label for="nickname" class="col-sm-3 control-label">姓名</label>
        <div class="col-sm-5">
            <input type="hidden" id="uid" name="uid" value="{$member.uid}">
            <input type="text" class="form-control" id="nickname" name="nickname" value="{$member.nickname}" placeholder="姓名">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">性别</label>
        <div class="col-sm-5">
            <label class="radio-inline">
                <input type="radio" name="gender" value="1" <eq name="member.gender" value="1">checked</eq>> 男
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="0" <eq name="member.gender" value="0">checked</eq>> 女
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="grade" class="col-sm-3 control-label">角色</label>
        <div class="col-sm-5">
            <select id="grade" name="grade" class="form-control">
                <foreach name="grades" item="grade" >
                    <option value="{$key}">{$grade}</option>
                </foreach>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="major" class="col-sm-3 control-label">专业</label>
        <div class="col-sm-5">
            <select id="major" name="major" class="form-control">
                <foreach name="majors" item="major" >
                    <option value="{$key}">{$major}</option>
                </foreach>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="research" class="col-sm-3 control-label">研究方向</label>
        <div class="col-sm-9">
            <textarea id="research" name="research" placeholder="研究方向。每行一条" class="form-control" rows="2">{$member.research}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="interests" class="col-sm-3 control-label">兴趣</label>
        <div class="col-sm-9">
            <textarea id="interests" name="interests" placeholder="兴趣。每行一条" class="form-control" rows="2">{$member.interests}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="projects" class="col-sm-3 control-label">在研项目</label>
        <div class="col-sm-9">
            <textarea id="projects" name="projects" placeholder="在研项目。每行一条" class="form-control" rows="2">{$member.projects}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="major" class="col-sm-3 control-label">课程表</label>
        <div class="col-sm-9">
            <select id="curricula" name="curricula" class="form-control">
                <foreach name="curriculas" item="curricula" >
                    <option value="{$key}">{$curricula}</option>
                </foreach>
            </select>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        $("#major").val("{$member.major}");
        $("#grade").val("{$member.grade}");
        $("#curricula").val("{$member.curricula_id}");
    });
</script>