<extend name="Base/common-nofooter"/>

<block name="body">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="{:U('Dashboard/index')}">Overview</a>
                </li>
                <li>
                    <a href="{:U('Dashboard/user')}">User</a>
                </li>
                <li>
                    <a href="{:U('Dashboard/message')}">Message</a>
                </li>
                <li class="active">
                    <a href="{:U('Dashboard/location')}">Location</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{:U('Dashboard/index')}">Dashboard</a></li>
                    <li class="active">Location</li>
                </ol>
            </div>

            <div class="row">
                <h3>位置概览</h3>
                <hr class="featurette-divider">
                <div class="col-sm-6" style="padding-left: 0;">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">位置按类型统计</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="locations_by_category" style="height:300px"></div>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_type_locations" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-right: 0;">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">信息推送的位置分布</h3>
                        </div>
                        <div id="grade" class="panel-body" style="min-height: 500px;">
                            <div id="locations_stat"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding-left:0;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">信息推送的Top5位置</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="top5_locations_total" style="height:300px"></div>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_top_location_total" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-right: 0;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">本科生信息推送的Top5位置</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="top5_locations_under" style="height:300px"></div>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_top_under_locations" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding-left:0;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">研究生信息推送的Top5位置</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="top5_locations_graduate" style="height:300px"></div>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_top_graduate_locations" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-right: 0;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">教师信息推送的Top5位置</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="top5_locations_teacher" style="height:300px"></div>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_top_teacher_locations" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>位置信息详细</h3>
                <hr class="featurette-divider">
                <div class="col-sm-12" style="padding-left: 0;padding-right: 0;">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">用户位置分布图</h3>
                        </div>
                        <div class="panel-body" style="min-height: 300px;">
                            <div id="user_locations"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-left: 0;padding-right: 0;">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">时间位置分布图</h3>
                        </div>
                        <div class="panel-body" style="min-height: 300px;">
                            <div id="time_locations"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__STATIC__/highcharts/highcharts.js"></script>
    <script src="__STATIC__/highcharts/highcharts-more.js"></script>
    <script src="__STATIC__/highcharts/no-data-to-display.js"></script>
    <script src="__STATIC__/highcharts/exporting.js"></script>
    <script src="__STATIC__/highcharts/heatmap.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#locations_by_category').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '位置按类型统计'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: {$chart_type_locations}
                }]
            });

            $('#locations_stat').highcharts({
                chart: {
                    type: 'bubble',
                    plotBorderWidth: 1,
                    zoomType: 'xy',
                    height: 580
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '信息推送的位置分布'
                },
                xAxis: {
                    gridLineWidth: 1
                },
                yAxis: {
                    startOnTick: false,
                    endOnTick: false,
                    title:{
                        text: ''
                    }
                },
                tooltip: {
                    formatter: function () {
                        return  this.point.name + ": " + this.point.z;
                    }
                },
                series: [{
                    name:'位置统计',
                    data: {$chart_locations_stat},
                    marker: {
                        fillColor: {
                            radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                            stops: [
                                [0, 'rgba(255,255,255,0.5)'],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.5).get('rgba')]
                            ]
                        }
                    },
                    dataLabels: {
                        enabled: true
                    }
                }]
            });

            $('#top5_locations_total').highcharts({
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '信息推送的Top5位置'
                },
                xAxis: {
                    categories: {$chart_top_location_names}
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true
                        },
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                series: [{
                    name: '信息推送的位置数',
                    data: {$chart_top_location_values}
                }]
            });

            $('#top5_locations_under').highcharts({
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '本科生信息推送的Top5位置'
                },
                xAxis: {
                    categories: {$chart_top_under_location_names}
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true
                        },
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                series: [{
                    name: '信息推送的位置数',
                    data: {$chart_top_under_location_values}
                }]
            });

            $('#top5_locations_graduate').highcharts({
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '研究生信息推送的Top5位置'
                },
                xAxis: {
                    categories: {$chart_top_graduate_location_names}
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true
                        },
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                series: [{
                    name: '信息推送的位置数',
                    data: {$chart_top_graduate_location_values}
                }]
            });

            $('#top5_locations_teacher').highcharts({
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '教师信息推送的Top5位置'
                },
                xAxis: {
                    categories: {$chart_top_teacher_location_names}
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true
                        },
                        color: Highcharts.getOptions().colors[3]
                    }
                },
                series: [{
                    name: '信息推送的位置数',
                    data: {$chart_top_teacher_location_values}
                }]
            });

            $('#user_locations').highcharts({
                chart: {
                    type: 'scatter',
                    zoomType: 'xy'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '接收推送信息的用户位置分布'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: '经度'
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        text: '纬度'
                    }
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.x}, {point.y}'
                        }
                    }
                },
                series: [{
                    name: '本科生',
                    color: 'rgba(223, 83, 83, .5)',
                    data: {$chart_under_user_locations},
                    marker: {
                        symbol: 'circle'
                    }
                }, {
                    name: '研究生',
                    color: 'rgba(119, 152, 191, .5)',
                    data: {$chart_under_user_locations},
                    marker: {
                        symbol: 'circle'
                    }
                }, {
                    name: '教师',
                    color: 'rgba(200, 240, 120, .5)',
                    data: {$chart_under_user_locations},
                    marker: {
                        symbol: 'circle'
                    }
                }]
            });

            $('#time_locations').highcharts({
                chart: {
                    type: 'heatmap',
                    marginTop: 40,
                    marginBottom: 80,
                    plotBorderWidth: 1,
                    height: 1500
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '接收信息的时间位置分布'
                },
                xAxis: {
                    categories: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    categories: {$chart_time_location_names},
                    title: null
                },
                colorAxis: {
                    min: 0,
                    minColor: '#FFFFFF',
                    maxColor: Highcharts.getOptions().colors[0]
                },
                legend: {
                    align: 'right',
                    layout: 'vertical',
                    margin: 0,
                    verticalAlign: 'top',
                    y: 25,
                    symbolHeight: 280
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.xAxis.categories[this.point.x] + '</b><br>在 <b>' + this.series.yAxis.categories[this.point.y] + '</b><br>推送消息 <b>' +
                                this.point.value + '</b> 条';
                    }
                },
                series: [{
                    name: '推送信息时间位置',
                    borderWidth: 1,
                    data: {$chart_time_location_data},
                    dataLabels: {
                        enabled: true,
                        color: '#000000'
                    }
                }]
            });
        });
    </script>
</block>
