<extend name="Base/common-nofooter"/>

<block name="body">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="{:U('Dashboard/index')}">Overview</a>
                </li>
                <li>
                    <a href="{:U('Dashboard/user')}">User</a>
                </li>
                <li>
                    <a href="{:U('Dashboard/message')}">Message</a>
                </li>
                <li class="active">
                    <a href="{:U('Dashboard/location')}">Location</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{:U('Dashboard/index')}">Dashboard</a></li>
                    <li class="active">Location</li>
                </ol>
            </div>

            <div class="row">
                <h3>位置概览</h3>
                <hr class="featurette-divider">
                <div class="col-sm-6" style="padding-left: 0;">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">位置按类型统计</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="locations_by_category" style="height:300px"></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_type_locations" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-right: 0;">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">信息推送的位置分布</h3>
                        </div>
                        <div id="grade" class="panel-body" style="min-height: 500px;">
                            <div id="locations_stat"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding-left:0;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">信息推送的Top5位置</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="top5_locations_total" style="height:300px"></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_top_location_total" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-right: 0;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">本科生信息推送的Top5位置</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="top5_locations_under" style="height:300px"></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_top_location_total" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding-left:0;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">研究生信息推送的Top5位置</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="top5_locations_graduate" style="height:300px"></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_top_location_total" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-right: 0;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">教师信息推送的Top5位置</h3>
                        </div>
                        <div class="panel-body" style="min-height: 500px;">
                            <div id="top5_locations_teacher" style="height:300px"></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="table_top_location_total" item="location">
                                    <tr>
                                        <td>{$location.name}</td>
                                        <td>{$location.y}</td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>位置信息详细</h3>
                <hr class="featurette-divider">
                <div class="col-sm-12" style="padding-left: 0;padding-right: 0;">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">用户位置分布图(Scatter)</h3>
                        </div>
                        <div class="panel-body" style="min-height: 300px;">
                            <div id="user_locations"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-left: 0;padding-right: 0;">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">时间位置分布图(headmap)</h3>
                        </div>
                        <div class="panel-body" style="min-height: 300px;">
                            <div id="time_locations"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-left: 0;padding-right: 0;">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                            <h3 class="panel-title">位置排序图(treemap)</h3>
                        </div>
                        <div class="panel-body" style="min-height: 300px;">
                            <div id="locations_sort"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__STATIC__/highcharts/highcharts.js"></script>
    <script src="__STATIC__/highcharts/highcharts-more.js"></script>
    <script src="__STATIC__/highcharts/no-data-to-display.js"></script>
    <script src="__STATIC__/highcharts/exporting.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#locations_by_category').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '位置按类型统计'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: {$chart_type_locations}
                }]
            });

            $('#locations_stat').highcharts({
                chart: {
                    type: 'bubble',
                    plotBorderWidth: 1,
                    zoomType: 'xy',
                    height: 580
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '信息推送的位置分布'
                },
                xAxis: {
                    gridLineWidth: 1
                },
                yAxis: {
                    startOnTick: false,
                    endOnTick: false,
                    title:{
                        text: ''
                    }
                },
                tooltip: {
                    formatter: function () {
                        return  this.point.name + ": " + this.point.z;
                    }
                },
                series: [{
                    name:'位置统计',
                    data: {$chart_locations_stat},
                    marker: {
                        fillColor: {
                            radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                            stops: [
                                [0, 'rgba(255,255,255,0.5)'],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.5).get('rgba')]
                            ]
                        }
                    },
                    dataLabels: {
                        enabled: true
                    }
                }]
            });

            $('#top5_locations_total').highcharts({
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '信息推送的Top5位置'
                },
                xAxis: {
                    categories: {$chart_top_location_names}
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true
                        },
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                series: [{
                    name: '信息推送的位置数',
                    data: {$chart_top_location_values}
                }]
            });

            $('#top5_locations_under').highcharts({
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '本科生信息推送的Top5位置'
                },
                xAxis: {
                    categories: {$chart_top_location_names}
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true
                        },
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                series: [{
                    name: '信息推送的位置数',
                    data: {$chart_top_location_values}
                }]
            });

            $('#top5_locations_graduate').highcharts({
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '研究生信息推送的Top5位置'
                },
                xAxis: {
                    categories: {$chart_top_location_names}
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true
                        },
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                series: [{
                    name: '信息推送的位置数',
                    data: {$chart_top_location_values}
                }]
            });

            $('#top5_locations_teacher').highcharts({
                chart: {
                    type: 'bar'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '教师信息推送的Top5位置'
                },
                xAxis: {
                    categories: {$chart_top_location_names}
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    series: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true
                        },
                        color: Highcharts.getOptions().colors[3]
                    }
                },
                series: [{
                    name: '信息推送的位置数',
                    data: {$chart_top_location_values}
                }]
            });

            $('#user_locations').highcharts({
                chart: {
                    height: 300,
                    type: 'areaspline'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '按状态统计推送信息趋势'
                },
                subtitle: {
                    text: ''
                },
                plotOptions: {
                    areaspline: {
                        lineWidth: 0.5,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        },
                        stacking: 'normal'
                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%m月%e日',
                        week: '%m月%e日',
                        month: '%Y年%m月',
                        year: '%Y年'
                    }
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    shared: true
                    /*formatter: function () {
                     return Highcharts.dateFormat("%Y-%m-%d", this.x) + "<br/>" + this.series[0].name + ":" + this.y;
                     }*/
                },
                legend: {
                    reversed: true
                },
                series: {$chart_status_trend}
            });

            $('#time_locations').highcharts({
                chart: {
                    height: 300,
                    type: 'areaspline'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '按状态统计推送信息趋势'
                },
                subtitle: {
                    text: ''
                },
                plotOptions: {
                    areaspline: {
                        lineWidth: 0.5,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        },
                        stacking: 'normal'
                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%m月%e日',
                        week: '%m月%e日',
                        month: '%Y年%m月',
                        year: '%Y年'
                    }
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    shared: true
                    /*formatter: function () {
                     return Highcharts.dateFormat("%Y-%m-%d", this.x) + "<br/>" + this.series[0].name + ":" + this.y;
                     }*/
                },
                legend: {
                    reversed: true
                },
                series: {$chart_status_trend}
            });

            $('#locations_sort').highcharts({
                chart: {
                    height: 300,
                    type: 'areaspline'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '按状态统计推送信息趋势'
                },
                subtitle: {
                    text: ''
                },
                plotOptions: {
                    areaspline: {
                        lineWidth: 0.5,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        },
                        stacking: 'normal'
                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%m月%e日',
                        week: '%m月%e日',
                        month: '%Y年%m月',
                        year: '%Y年'
                    }
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    shared: true
                    /*formatter: function () {
                     return Highcharts.dateFormat("%Y-%m-%d", this.x) + "<br/>" + this.series[0].name + ":" + this.y;
                     }*/
                },
                legend: {
                    reversed: true
                },
                series: {$chart_status_trend}
            });
        });
    </script>
</block>
