<extend name="Base/common-nofooter"/>

<block name="body">
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a href="{:U('Dashboard/index')}">Overview</a>
            </li>
            <li>
                <a href="{:U('Dashboard/user')}">User</a>
            </li>
            <li class="active">
                <a href="{:U('Dashboard/message')}">Message</a>
            </li>
            <li>
                <a href="{:U('Dashboard/location')}">Location</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{:U('Dashboard/index')}">Dashboard</a></li>
                <li class="active">Message</li>
            </ol>
        </div>
        <div class="row">
            <h3>信息推送概览</h3>
            <hr class="featurette-divider">
            <div class="col-sm-6" style="padding-left: 0;">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                        <h3 class="panel-title">信息资源总数</h3>
                    </div>
                    <div class="panel-body" style="height: 540px;">
                        <div id="message_total" style="height:300px"></div>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th width="50%">名称</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                            <foreach name="table_infos" item="info">
                                <tr>
                                <td>{$info.name}</td>
                                <td>{$info.y}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="padding-right: 0;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                    <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                    <h3 class="panel-title">推送信息按类型分</h3>
                </div>
                    <div id="grade" class="panel-body" style="min-height: 500px;">
                        <div id="message_by_category" style="height:300px"></div>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th>值</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="table_messages" item="message">
                                <tr>
                                    <td>{$message.name}</td>
                                    <td>{$message.y}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" style="padding-left:0;">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                        <h3 class="panel-title">推送信息按状态分</h3>
                    </div>
                    <div class="panel-body" style="min-height: 500px;">
                        <div id="message_by_status" style="height:300px"></div>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th>值</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="table_total_status" item="status">
                                <tr>
                                    <td>{$status.name}</td>
                                    <td>{$status.y}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="padding-right: 0;">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                        <h3 class="panel-title">本科生推送信息比例</h3>
                    </div>
                    <div class="panel-body" style="min-height: 500px;">
                        <div id="message_by_status1" style="height:300px"></div>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th>值</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="table_undergraduate_status" item="status">
                                <tr>
                                    <td>{$status.name}</td>
                                    <td>{$status.y}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" style="padding-left:0;">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                        <h3 class="panel-title">研究生推送信息比例</h3>
                    </div>
                    <div class="panel-body" style="min-height: 500px;">
                        <div id="message_by_status2" style="height:300px"></div>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th>值</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="table_graduate_status" item="status">
                                <tr>
                                    <td>{$status.name}</td>
                                    <td>{$status.y}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="padding-right: 0;">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                        <h3 class="panel-title">教师推送信息比例</h3>
                    </div>
                    <div class="panel-body" style="min-height: 500px;">
                        <div id="message_by_status3" style="height:300px"></div>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th>值</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="table_teacher_status" item="status">
                                <tr>
                                    <td>{$status.name}</td>
                                    <td>{$status.y}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>信息推送详细</h3>
            <hr class="featurette-divider">
            <div class="col-sm-12" style="padding-left: 0;padding-right: 0;">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                        <h3 class="panel-title">按状态统计推送信息趋势</h3>
                    </div>
                    <div class="panel-body" style="min-height: 300px;">
                        <div id="status_messages_by_day"></div>
                        <!--<table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="60">用户ID</th>
                                <th width="200">用户名</th>
                                <th width="25%">登录数</th>
                                <th width="25%">推送未接收数</th>
                                <th width="25%">接收但未读数</th>
                                <th width="25%">接收比已读数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="table_users" item="user">
                                <tr <eq name="user.active" value="1">class="success"</eq>>
                                <td>{$user.uid}</td>
                                <td>{$user.name}</td>
                                <td>{$user.login_count}</td>
                                <td>{$user.pushed_count}</td>
                                <td>{$user.received_count}</td>
                                <td>{$user.read_count}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="padding-left: 0;padding-right: 0;">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                        <h3 class="panel-title">按角色统计接收推送信息趋势</h3>
                    </div>
                    <div class="panel-body" style="min-height: 300px;">
                        <div id="grade_messages_by_day"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="__STATIC__/highcharts/highcharts.js"></script>
    <script src="__STATIC__/highcharts/exporting.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#message_total').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '信息资源比例'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: {$chart_infos}
                }]
            });

            $('#message_by_category').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '推送信息按类型分'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: {$chart_messages}
                }]
            });

            $('#message_by_status').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '推送信息按状态分'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: {$chart_total_status}
                }]
            });

            $('#message_by_status1').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '本科生推送信息比例'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: {$chart_undergraduate_status}
                }]
            });

            $('#message_by_status2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '研究生推送信息比例'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: {$chart_graduate_status}
                }]
            });

            $('#message_by_status3').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '教师推送信息比例'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: {$chart_teacher_status}
                }]
            });

            $('#status_messages_by_day').highcharts({
                chart: {
                    height: 300,
                    type: 'areaspline'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '按状态统计推送信息趋势'
                },
                subtitle: {
                    text: ''
                },
                plotOptions: {
                    areaspline: {
                        lineWidth: 0.5,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        },
                        stacking: 'normal'
                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%m月%e日',
                        week: '%m月%e日',
                        month: '%Y年%m月',
                        year: '%Y年'
                    }
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    shared: true
                },
                legend: {
                    reversed: true
                },
                series: {$chart_status_trend}
            });

            $('#grade_messages_by_day').highcharts({
                chart: {
                    height: 300,
                    type: 'areaspline'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '按用户角色统计接收推送信息趋势'
                },
                subtitle: {
                    text: ''
                },
                plotOptions: {
                    areaspline: {
                        lineWidth: 0.5,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        },
                        stacking: 'normal'
                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%m月%e日',
                        week: '%m月%e日',
                        month: '%Y年%m月',
                        year: '%Y年'
                    }
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    shared: true
                },
                legend: {
                    reversed: true
                },
                series: {$chart_grade_trend}
            });
        });
    </script>
</block>
