<extend name="Base/common-nofooter"/>

<block name="body">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li>
                  <a href="{:U('Settings/publish')}">Publish</a>
              </li>
              <li>
                  <a href="{:U('Settings/message')}">Message</a>
              </li>
              <li>
                  <a href="{:U('Settings/location')}">Location</a>
              </li>
              <li>
                  <a href="{:U('User/user_list')}">User</a>
              </li>
              <li class="active">
                  <a href="{:U('Settings/curricula')}">Curricula</a>
              </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ol class="breadcrumb">
            <li><a href="{:U('Settings/publish')}">Settings</a></li>
            <li class="active">Curricula</li>
          </ol>
          <div>
            <a href="javascript:open_dialog('add', '{:U('Settings/curricula_add')}');" class="btn btn-primary btn-sm pull-right" >Add Curricula</a>
              <form id="searchForm" class="form-inline" action="{:U('Settings/curricula')}" method="post">
                  <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-success">Major</button>
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">All</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li><a href="#">Separated link</a></li>
                      </ul>
                  </div>
                  <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-info">Grade</button>
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">All</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li><a href="#">Separated link</a></li>
                      </ul>
                  </div>
                  <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-warning">Class</button>
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">All</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Male</a></li>
                          <li><a href="#">Female</a></li>
                      </ul>
                  </div>
                  <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-danger">Term</button>
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">All</a></li>
                          <li class="divider"></li>
                          <li><a href="#">First</a></li>
                          <li><a href="#">Second</a></li>
                      </ul>
                  </div>
                  <div class="input-group input-group-sm">
                      <input type="text" id="search" name="search" class="form-control" value="{$search}" placeholder="Curricula Name">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                  </div>
              </form>
          </div>
            <hr class="featurette-divider">
          <div id="main" class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th width="50">ID</th>
                <th>Name</th>
                <th>Major</th>
                <th>Grade</th>
                <th>Class</th>
                <th>Term</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th width="100">Status</th>
                <th width="150">Operation</th>
              </tr>
              </thead>
              <tbody>
              <foreach name="curriculas" item="curricula" >
                <tr>
                  <td>{$curricula.curricula_id}</td>
                  <td><a href="{:U('Settings/curricula_detail')}/curricula/{$curricula.curricula_id}" title="Detail">{$curricula.name}</a></td>
                  <td>{$curricula.major|ucfirst}</td>
                  <td>{$curricula.grade}</td>
                  <td>{$curricula.class}</td>
                  <td>第 {$curricula.term} 学期</td>
                  <td>{$curricula.term_start|date="Y-m-d",###}</td>
                  <td>{$curricula.term_end|date="Y-m-d",###}</td>
                  <td><eq name="curricula.status" value="1" >Enabled<else/>Disabled</eq></td>
                  <td>
                      <a href="{:U('Settings/curricula_detail')}/curricula/{$curricula.curricula_id}" title="Detail"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>&nbsp;
                      <a href="javascript:open_dialog('edit', '{:U('Settings/curricula_edit')}/curricula_id/{$curricula.curricula_id}');" title="Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
                      <a href="javascript:open_dialog('del', '{:U('Settings/curricula_del')}/curricula_id/{$curricula.curricula_id}');" title="Delete"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                  </td>
                </tr>
              </foreach>
              </tbody>
            </table>
          </div>
          <div class="text-center">
              <nav>
                  <ul class="pager">
                      <li><a href="{:U('Settings/curricula')}/start/0/limit/{$limit}/search/{$search}">首页</a></li>
                      <li <eq name="page" value="1">class="disabled"</eq>><a href="{:U('Settings/curricula')}/start/{$prev_start}/limit/20/search/{$search}">上一页</a></li>
                      <span class="label" style="color: #337ab7"> {$page}/{$pages} </span>
                      <li <if condition="$page == $pages">class="disabled"</if>><a href="{:U('Settings/curricula')}/start/{$next_start}/limit/20/search/{$search}">下一页</a></li>
                      <li><a href="{:U('Settings/curricula')}/start/{$last_start}/limit/{$limit}/search/{$search}">末页</a></li>
                  </ul>
              </nav>
          </div>
        </div>
      </div>

  <!-- Add Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addModalLabel">Add Curricula</h4>
        </div>
        <div id="addFormPage" class="modal-body">
        </div>
        <div class="modal-footer">
          <div id="add-tips" class="Validform_checktip text-danger pull-left"></div>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary btn-sm" onclick="add_curricula();">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editModalLabel">Edit Curricula</h4>
        </div>
        <div id="editFormPage" class="modal-body">
        </div>
        <div class="modal-footer">
          <div id="edit-tips" class="Validform_checktip text-danger pull-left"></div>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary btn-sm" onclick="edit_curricula();">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Del Modal -->
  <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="delModalLabel">Delete Curricula</h4>
        </div>
        <div id="delFormPage" class="modal-body">
        </div>
        <div class="modal-footer">
          <div id="del-tips" class="Validform_checktip text-danger pull-left"></div>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary btn-sm" onclick="del_curricula();">Save</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="__STATIC__/moment/moment-with-locales.min.js"></script>
  <link href="__STATIC__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <script type="text/javascript" src="__STATIC__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(document).ajaxStart(function(){
      $("button:submit").attr("disabled", true);
    }).ajaxStop(function(){
      $("button:submit").attr("disabled", false);
    });

    function open_dialog(tag, url){
      if(tag == 'add'){
        $("#editFormPage").empty();
        $("#delFormPage").empty();
      }else if(tag == 'edit'){
        $("#addFormPage").empty();
        $("#delFormPage").empty();
      }else if(tag == 'del'){
        $("#addFormPage").empty();
        $("#editFormPage").empty();
      }
      $("#"+tag+"-tips").empty();
      $("#"+tag+"FormPage").load(url);
      $('#'+tag+'Modal').modal('show');
    }

    function add_curricula(){
      var self = $("#addCurriculaForm");
      $.post(self.attr("action"), self.serialize(), function(data){
        if(data.errno == 0){
          $("#add-tips").addClass('text-success');
          $("#add-tips").removeClass('text-danger');
          $("#add-tips").text(data.errmsg);
          window.location.href = data.url;
        } else {
          var location = data.location;
          if($('#msg'))
          {
            $('#msg').empty();
            $('#msg').remove();
          }
          if(location){
            $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
          }else{
            $('#add-tips').text(data.errmsg);
          }
        }
      }, "json");
    }

    function edit_curricula(){
      var self = $("#editCurriculaForm");
      $.post(self.attr("action"), self.serialize(), function(data){
        if(data.errno == 0){
          $("#edit-tips").addClass('text-success');
          $("#edit-tips").removeClass('text-danger');
          $("#edit-tips").text(data.errmsg);
          window.location.href = data.url;
        } else {
          var location = data.location;
          if($('#msg'))
          {
            $('#msg').empty();
            $('#msg').remove();
          }
          if(location){
            $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
          }else{
            $('#edit-tips').text(data.errmsg);
          }
        }
      }, "json");
    }

    function del_curricula(){
      var self = $("#delCurriculaForm");
      $.post(self.attr("action"), self.serialize(), function(data){
        if(data.errno == 0){
          $("#del-tips").addClass('text-success');
          $("#del-tips").removeClass('text-danger');
          $("#del-tips").text(data.errmsg);
          window.location.href = data.url;
        } else {
          var location = data.location;
          if($('#msg'))
          {
            $('#msg').empty();
            $('#msg').remove();
          }
          if(location){
            $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
          }else{
            $('#del-tips').text(data.errmsg);
          }
        }
      }, "json");
    }
  </script>
</block>
