<extend name="Base/common-nofooter"/>

<block name="body">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li>
                  <a href="{:U('Settings/publish')}">Publish</a>
              </li>
              <li>
                  <a href="{:U('Settings/message')}">Message</a>
              </li>
              <li>
                  <a href="{:U('Settings/location')}">Location</a>
              </li>
              <li>
                  <a href="{:U('User/user_list')}">User</a>
              </li>
              <li class="active">
                  <a href="{:U('Settings/curricula')}">Curricula</a>
              </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ol class="breadcrumb">
            <li><a href="{:U('Settings/publish')}">Settings</a></li>
            <li><a href="{:U('Settings/curricula')}">Curricula</a></li>
            <li class="active">Detail</li>
          </ol>
          <div>
            <a href="javascript:history.go(-1);" title="Return last page." class="btn btn-primary btn-sm pull-right" ><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp;返回</a>
            <h3>{$curricula.name}</h3>
          </div>
          <hr class="featurette-divider">
            <div style="margin-bottom: 5px;">
                <span class="text-primary pull-right">{$curricula.term_year_start}-{$curricula.term_year_end}学年 第{$curricula.term}学期 (第{$curricula.term_start|date="W",###} ~ {$curricula.term_end|date="W",###}周)</span>
                <span class="text-primary">班级: {$curricula.major} {$curricula.grade}级{$curricula.class}班</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped responsive-utilities">
                    <thead>
                    <tr>
                        <th width="180">#</th>
                        <th>周一<a href="javascript:open_dialog('add', '{:U('Settings/course_add')}/curricula_id/{$curricula.curricula_id}/week/1');" title="Add" class="pull-right"><span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a></th>
                        <th>周二<a href="javascript:open_dialog('add', '{:U('Settings/course_add')}/curricula_id/{$curricula.curricula_id}/week/2');" title="Add" class="pull-right"><span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a></th>
                        <th>周三<a href="javascript:open_dialog('add', '{:U('Settings/course_add')}/curricula_id/{$curricula.curricula_id}/week/3');" title="Add"" class="pull-right"><span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a></th>
                        <th>周四<a href="javascript:open_dialog('add', '{:U('Settings/course_add')}/curricula_id/{$curricula.curricula_id}/week/4');" title="Add" class="pull-right"><span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a></th>
                        <th>周五<a href="javascript:open_dialog('add', '{:U('Settings/course_add')}/curricula_id/{$curricula.curricula_id}/week/5');" title="Add" class="pull-right"><span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a></th>
                        <th width="100">周六<a href="javascript:open_dialog('add', '{:U('Settings/course_add')}/curricula_id/{$curricula.curricula_id}/week/6');" title="Add" class="pull-right"><span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a></th>
                        <th width="100">周日<a href="javascript:open_dialog('add', '{:U('Settings/course_add')}/curricula_id/{$curricula.curricula_id}/week/7');" title="Add" class="pull-right"><span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="curricula.courses" item="row">
                    <tr>
                        <th scope="row">第 {$key}/{$key+1} 节</th>
                        <foreach name="row" item="course" key="k">
                            <empty name="course">
                                <in name="k" value="6,7">
                                    <td class="bg-warning"></td>
                                    <else/>
                                    <td></td>
                                </in>
                                <else />
                                <td class="bg-success">
                                    <div>
                                        <span class="text-success">{$course.name} | {$course.teacher} | {$course.classroom} | {$course.period}周</span>
                                    </div>
                                    <a href="javascript:open_dialog('del', '{:U('Settings/course_del')}/curricula_id/{$curricula.curricula_id}/week/{$course.week}/section/{$course.section}');" class="pull-right" style="margin-left: 5px;"><span class="glyphicon glyphicon-minus-sign text-success" aria-hidden="true"></span></a>
                                    <a href="javascript:open_dialog('edit', '{:U('Settings/course_edit')}/curricula_id/{$curricula.curricula_id}/week/{$course.week}/section/{$course.section}');" class="pull-right"><span class="glyphicon glyphicon-edit text-success" aria-hidden="true"></span></a>
                                </td>
                            </empty>
                        </foreach>
                    </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
        </div>
      </div>

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addModalLabel">Add Course</h4>
                </div>
                <div id="addFormPage" class="modal-body">
                </div>
                <div class="modal-footer">
                    <div id="add-tips" class="Validform_checktip text-danger pull-left"></div>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm" onclick="add_course();">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editModalLabel">Edit Course</h4>
                </div>
                <div id="editFormPage" class="modal-body">
                </div>
                <div class="modal-footer">
                    <div id="edit-tips" class="Validform_checktip text-danger pull-left"></div>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm" onclick="edit_course();">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Del Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">Delete Course</h4>
                </div>
                <div id="delFormPage" class="modal-body">
                </div>
                <div class="modal-footer">
                    <div id="del-tips" class="Validform_checktip text-danger pull-left"></div>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm" onclick="del_course();">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ajaxStart(function(){
            $("button:submit").attr("disabled", true);
        }).ajaxStop(function(){
            $("button:submit").attr("disabled", false);
        });

        function open_dialog(tag, url){
            if(tag == 'add'){
                $("#editFormPage").empty();
                $("#delFormPage").empty();
            }else if(tag == 'edit'){
                $("#addFormPage").empty();
                $("#delFormPage").empty();
            }else if(tag == 'del'){
                $("#addFormPage").empty();
                $("#editFormPage").empty();
            }
            $("#"+tag+"-tips").empty();
            $("#"+tag+"FormPage").load(url);
            $('#'+tag+'Modal').modal('show');
        }

        function add_course(){
            var self = $("#addCourseForm");
            $.post(self.attr("action"), self.serialize(), function(data){
                if(data.errno == 0){
                    $("#add-tips").addClass('text-success');
                    $("#add-tips").removeClass('text-danger');
                    $("#add-tips").text(data.errmsg);
                    window.location.href = data.url;
                } else {
                    var location = data.location;
                    if($('#msg'))
                    {
                        $('#msg').empty();
                        $('#msg').remove();
                    }
                    if(location){
                        $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
                    }else{
                        $('#add-tips').text(data.errmsg);
                    }
                }
            }, "json");
        }

        function edit_course(){
            var self = $("#editCourseForm");
            $.post(self.attr("action"), self.serialize(), function(data){
                if(data.errno == 0){
                    $("#edit-tips").addClass('text-success');
                    $("#edit-tips").removeClass('text-danger');
                    $("#edit-tips").text(data.errmsg);
                    window.location.href = data.url;
                } else {
                    var location = data.location;
                    if($('#msg'))
                    {
                        $('#msg').empty();
                        $('#msg').remove();
                    }
                    if(location){
                        $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
                    }else{
                        $('#edit-tips').text(data.errmsg);
                    }
                }
            }, "json");
        }

        function del_course(){
            var self = $("#delCourseForm");
            $.post(self.attr("action"), self.serialize(), function(data){
                if(data.errno == 0){
                    $("#del-tips").addClass('text-success');
                    $("#del-tips").removeClass('text-danger');
                    $("#del-tips").text(data.errmsg);
                    window.location.href = data.url;
                } else {
                    var location = data.location;
                    if($('#msg'))
                    {
                        $('#msg').empty();
                        $('#msg').remove();
                    }
                    if(location){
                        $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
                    }else{
                        $('#del-tips').text(data.errmsg);
                    }
                }
            }, "json");
        }
    </script>
</block>
