<form id="addLocationForm" class="form-horizontal" action="{:U('Settings/location_add_submit')}">
    <div class="form-group">
        <label for="nickname" class="col-sm-3 control-label">Nickname</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nick name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Sex</label>
        <div class="col-sm-5">
            <label class="radio-inline">
                <input type="radio" name="sex" value="1" checked> Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="0"> Female
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="major" class="col-sm-3 control-label">Major</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="major" name="major" placeholder="Major">
        </div>
    </div>
    <div class="form-group">
        <label for="grade" class="col-sm-3 control-label">Grade</label>
        <div class="col-sm-5">
            <select id="grade" name="grade" placeholder="Grade" class="form-control">
                <option value="1">Freshman</option>
                <option value="2">Sophomore</option>
                <option value="3">Junior</option>
                <option value="4">Senior</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="desc" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
            <textarea id="desc" name="desc" placeholder="Description" class="form-control" rows="4"></textarea>
        </div>
    </div>
</form>