<form id="addLocationForm" class="form-horizontal" action="{:U('Settings/location_add_submit')}">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="name" name="name" placeholder="Location name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Status</label>
        <div class="col-sm-5">
            <label class="radio-inline">
                <input type="radio" name="status" value="1" checked> Enabled
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" value="0"> Disabled
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="longitude" class="col-sm-3 control-label">Longitude</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="longitude" name="longitude" value="0.0" placeholder="Longitude">
        </div>
    </div>
    <div class="form-group">
        <label for="latitude" class="col-sm-3 control-label">Latitude</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="latitude" name="latitude" value="0.0" placeholder="Latitude">
        </div>
    </div>
    <div class="form-group">
        <label for="radius" class="col-sm-3 control-label">Radius</label>
        <div class="col-sm-5">
            <div class="input-group">
                <input type="text" class="form-control" id="radius" name="radius" value="0" placeholder="Radius">
                <span class="input-group-addon">m</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="location_type" class="col-sm-3 control-label">Type</label>
        <div class="col-sm-5">
            <select id="location_type" name="location_type" class="form-control">
                <foreach name="location_types" item="location_type" >
                    <option value="{$key}">{$location_type}</option>
                </foreach>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-3 control-label">Address</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="address" name="address" placeholder="Address">
        </div>
    </div>
    <div class="form-group">
        <label for="desc" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
            <textarea id="desc" name="desc" placeholder="Description" class="form-control" rows="2"></textarea>
        </div>
    </div>
</form>