<extend name="Base/common-nofooter"/>

<block name="body">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="{:U('Settings/publish')}">Publish</a>
                </li>
                <li>
                    <a href="{:U('Settings/message')}">Message</a>
                </li>
                <li>
                    <a href="{:U('Settings/location')}">Location</a>
                </li>
                <li>
                    <a href="{:U('User/user_list')}">User</a>
                </li>
                <li>
                    <a href="{:U('Settings/curricula')}">Curricula</a>
                </li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ol class="breadcrumb">
            <li><a href="{:U('Settings/publish')}">Settings</a></li>
            <li class="active">Publish</li>
          </ol>
          <div>
              <form id="searchForm" class="form-inline" action="{:U('Settings/publish')}" method="post">
                  <div class="input-group input-group-sm col-sm-3">
                      <input type="text" name="search" value="{$search}" class="form-control" placeholder="User name" autocomplete="off">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                  </div>
              </form>
          </div>
            <hr class="featurette-divider">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="50">ID</th>
                  <th>Title</th>
                  <th>User</th>
                  <th>Priority</th>
                  <th>Similarity</th>
                  <th>Location</th>
                  <th width="150">Publish</th>
                  <th width="80">Status</th>
                  <th width="100">Operate</th>
                </tr>
              </thead>
              <tbody>
              <foreach name="publishes" item="publish" >
                <tr>
                  <td>{$publish.publish_id}</td>
                  <td><a href="{:U('Settings/message_detail')}/message/{$publish.message_id}">{$publish.title}</a></td>
                  <td>{$publish.user_name}</td>
                  <td>{$publish.priority|ucfirst}</td>
                  <td>{$publish.similarity|default='1'} %</td>
                  <td>{$publish.location_name|default='Any'}</td>
                  <td>{$publish.publish_time|date="Y-m-d H:i",###}</td>
                  <td>{$publish.status}</td>
                  <td>
                    <a href="javascript:open_dialog('edit', '{:U('Settings/publish_edit')}/publish_id/{$publish.publish_id}');" title="Read"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
                    <a href="javascript:open_dialog('read', '{:U('Settings/publish_read')}/publish_id/{$publish.publish_id}');" title="Read"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span></a>&nbsp;
                    <a href="javascript:open_dialog('del', '{:U('Settings/publish_del')}/publish_id/{$publish.publish_id}');" title="Delete"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                  </td>
                </tr>
              </foreach>
              </tbody>
            </table>
          </div>
          <div class="text-center">
              <nav>
                  <ul class="pager">
                      <li><a href="{:U('Settings/publish')}/search/{$search}/start/0/limit/{$limit}">首页</a></li>
                      <li <eq name="page" value="1">class="disabled"</eq>><a href="{:U('Settings/publish')}/search/{$search}/start/{$prev_start}/limit/20">上一页</a></li>
                      <span class="label" style="color: #337ab7"> {$page}/{$pages} </span>
                      <li <if condition="$page == $pages">class="disabled"</if>><a href="{:U('Settings/publish')}/search/{$search}/start/{$next_start}/limit/20">下一页</a></li>
                      <li><a href="{:U('Settings/publish')}/search/{$search}/start/{$last_start}/limit/{$limit}">末页</a></li>
                  </ul>
              </nav>
          </div>
        </div>
    </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editModalLabel">Edit Published Message</h4>
        </div>
        <div id="editFormPage" class="modal-body">
        </div>
        <div class="modal-footer">
          <div id="edit-tips" class="Validform_checktip text-danger pull-left"></div>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary btn-sm" onclick="edit_publish();">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Read Modal -->
  <div class="modal fade" id="readModal" tabindex="-1" role="dialog" aria-labelledby="readModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="readModalLabel">Change Message Status</h4>
        </div>
        <div id="readFormPage" class="modal-body">
        </div>
        <div class="modal-footer">
          <div id="read-tips" class="Validform_checktip text-danger pull-left"></div>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary btn-sm" onclick="read_publish();">Done</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Del Modal -->
  <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="delModalLabel">Delete Published Message</h4>
        </div>
        <div id="delFormPage" class="modal-body">
        </div>
        <div class="modal-footer">
          <div id="del-tips" class="Validform_checktip text-danger pull-left"></div>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary btn-sm" onclick="del_publish();">Done</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="__STATIC__/moment/moment-with-locales.min.js"></script>
  <link href="__STATIC__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <script type="text/javascript" src="__STATIC__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <!--<script type="text/javascript" src="__STATIC__/bootstrap/js/typeahead.js"></script>-->
  <script type="text/javascript">
    $(document).ajaxStart(function(){
      $("button:submit").attr("disabled", true);
    }).ajaxStop(function(){
      $("button:submit").attr("disabled", false);
    });

    function open_dialog(tag, url){
      if(tag == 'read'){
        $("#editFormPage").empty();
        $("#delFormPage").empty();
      }else if(tag == 'edit'){
        $("#delFormPage").empty();
        $("#readFormPage").empty();
      }else if(tag == 'del'){
        $("#editFormPage").empty();
        $("#readFormPage").empty();
      }
      $("#"+tag+"-tips").empty();
      $("#"+tag+"FormPage").load(url);
      $('#'+tag+'Modal').modal('show');
    }

    function edit_publish(){
      var self = $("#editPublishForm");
      $.post(self.attr("action"), self.serialize(), function(data){
        if(data.errno == 0){
          $("#edit-tips").addClass('text-success');
          $("#edit-tips").removeClass('text-danger');
          $("#edit-tips").text(data.errmsg);
          window.location.href = data.url;
        } else {
          var location = data.location;
          if($('#msg'))
          {
            $('#msg').empty();
            $('#msg').remove();
          }
          if(location){
            $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
          }else{
            $('#edit-tips').text(data.errmsg);
          }
        }
      }, "json");
    }

    function read_publish(){
      var self = $("#readPublishForm");
      $.post(self.attr("action"), self.serialize(), function(data){
        if(data.errno == 0){
          $("#read-tips").addClass('text-success');
          $("#read-tips").removeClass('text-danger');
          $("#read-tips").text(data.errmsg);
          window.location.href = data.url;
        } else {
          var location = data.location;
          if($('#msg'))
          {
            $('#msg').empty();
            $('#msg').remove();
          }
          if(location){
            $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
          }else{
            $('#read-tips').text(data.errmsg);
          }
        }
      }, "json");
    }

    function del_publish(){
      var self = $("#delPublishForm");
      $.post(self.attr("action"), self.serialize(), function(data){
        if(data.errno == 0){
          $("#del-tips").addClass('text-success');
          $("#del-tips").removeClass('text-danger');
          $("#del-tips").text(data.errmsg);
          window.location.href = data.url;
        } else {
          var location = data.location;
          if($('#msg'))
          {
            $('#msg').empty();
            $('#msg').remove();
          }
          if(location){
            $('#' + location).after("<span class='text-danger' id='msg'>&nbsp;"+ data.errmsg +" </span>");
          }else{
            $('#del-tips').text(data.errmsg);
          }
        }
      }, "json");
    }

    /*jQuery(function () {
        /!*** 1.基本示例 ***!/
        var provinces = ["广东省", "福建省", "山西省", "山东省","湖北省", "湖南省", "陕西省", "上海市", "北京市", "广西省"];

        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substrRegex;
                matches = [];
                substrRegex = new RegExp(q, 'i');
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        matches.push({ value: str });
                    }
                });
                cb(matches);
            };
        };

        $('#test_text').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'provinces',
                    displayKey: 'value',
                    source: substringMatcher(provinces)
                });

    });*/
  </script>
</block>
