<extend name="Base/common-nofooter"/>

<block name="body">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li>
                  <a href="{:U('Settings/publish')}">Publish</a>
              </li>
              <li>
                  <a href="{:U('Settings/message')}">Message</a>
              </li>
              <li>
                  <a href="{:U('Settings/location')}">Location</a>
              </li>
              <li class="active">
                  <a href="{:U('Settings/user')}">User</a>
              </li>
              <li>
                  <a href="{:U('Settings/curricula')}">Curricula</a>
              </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ol class="breadcrumb">
            <li><a href="{:U('Settings/publish')}">Settings</a></li>
            <li><a href="{:U('Settings/message')}">User</a></li>
            <li class="active">{$member.nickname}</li>
          </ol>
          <div>
            <a href="javascript:history.go(-1);" title="Return last page." class="btn btn-primary btn-sm pull-right" ><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp;返回</a>
            <h4>{$member.nickname}</h4>
          </div>
            <div style="margin-top: 30px;">
                <span>作者: {$member.gender}</span> |
                <span style="color: #888888">{$member.birthday|date="Y-m-d",###}</span>
            </div>
            <hr class="featurette-divider" style="margin-top: 5px">
            <div id="content">
                {$member.grade}<br>
                {$member.major}
            </div>
            <div style="margin-top: 20px;">
                <span class="text-info pull-right">Last Login Time: <a href="{$member.last_login_time}" target="_blank">{$message.link_host}</a></span>
                <span class="text-success">Last Login IP: {$member.last_login_ip}</span>
                <span class="text-success">Login Count: {$member.login_count}</span>
            </div>
        </div>
      </div>
</block>
