<extend name="Base/common-nofooter"/>

<block name="body">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">
              <a href="{:U('Settings/user')}">User</a>
            </li>
            <li>
              <a href="{:U('Settings/message')}">Message</a>
            </li>
            <li>
              <a href="{:U('Settings/location')}">Location</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ol class="breadcrumb">
            <li><a href="#">Settings</a></li>
            <li class="active">User</li>
          </ol>
          <div>
            <a href="{:U('Settings/user_add')}" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">Add User</a>
            <h1 class="page-header">User List</h1>
          </div>
          <div id="main" class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nick Name</th>
                  <th>Sex</th>
                  <th>Major</th>
                  <th>Class</th>
                  <th>Description</th>
                  <th>Last Login IP</th>
                  <th>Last Login Time</th>
                  <th>Login Count</th>
                  <th>Status</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody>
              <foreach name="members" item="member" >
                <tr>
                  <td>{$member.uid}</td>
                  <td>{$member.nickname}</td>
                  <td><eq name="member.sex" value="1">Male<else/>Female</eq></td>
                  <td>{$member.major|default='Unknown'}</td>
                  <td>{$member.grade|ucwords}</td>
                  <td>{$member.desc|ucfirst}</td>
                  <td>{$member.last_login_ip|long2ip}</td>
                  <td>{$member.last_login_time|date="Y-m-d H:i:s",###}</td>
                  <td>{$member.login_count}</td>
                  <td><eq name="member.status" value="1">Active<else/>Disable</eq></td>
                  <td><a href="{:U('Settings/user_edit')}" title="Edit" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                </tr>
              </foreach>
              </tbody>
            </table>
          </div>
      </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
</block>
