<extend name="Base/common"/>

<block name="body">
    <div class="row">
        <!-- Jumbotron -->
        <div class="jumbotron" style="background-color:rgba(0, 0, 0, 0.8)">
            <div class="row">
                <div class="col-md-9">
                    <h1><span class="common-logo">OneLibrary</span></h1>
                    <h2 class="text-info">Simple life, Intelligent perception.</h2>
                </div>
                <div class="col-md-3 text-center">
                    <p><img width="200" height="200" src="__STATIC__/img/onelibrary-apk-code.png" alt="Android apk"></p>
                    <a class="btn btn-lg btn-primary btn-block" href="{:U('Download/android')}" role="button">Android</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" style="padding-left: 0;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                    <h3 class="panel-title">图书</h3>
                </div>
                <div id="panel1" class="panel-body" style="min-height: 285px;">
                    <p class="text-center">No Data.</p>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4" style="padding-left: 0;padding-right: 0;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                    <h3 class="panel-title">期刊论文</h3>
                </div>
                <div id="panel2" class="panel-body" style="min-height: 285px;">
                    <p class="text-center">No Data.</p>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4" style="padding-right: 0;">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                    <h3 class="panel-title">资讯</h3>
                </div>
                <div id="panel4" class="panel-body" style="min-height: 285px;">
                    <p class="text-center">No Data.</p>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
    </div>
    <div class="row">
        <div class="col-sm-4" style="padding-left: 0;">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                    <h3 class="panel-title">学术会议</h3>
                </div>
                <div id="panel3" class="panel-body" style="min-height: 285px;">
                    <p class="text-center">No Data.</p>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4" style="padding-left: 0;padding-right: 0;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                    <h3 class="panel-title">视频</h3>
                </div>
                <div id="panel5" class="panel-body" style="min-height: 285px;">
                    <p class="text-center">No Data.</p>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4" style="padding-right: 0;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-option-vertical pull-right" aria-hidden="true"></span>
                    <h3 class="panel-title">图片</h3>
                </div>
                <div id="panel6" class="panel-body" style="min-height: 285px;">
                    <p>No Data.</p>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            get_message_by_category(1);
            get_message_by_category(2);
            get_message_by_category(3);
            get_message_by_category(4);
            get_message_by_category(5);
            get_message_by_category(6);
        });

        function get_message_by_category(category_id){
            $.post("{:U('Index/messages_by_category')}", {'category_id': category_id}, function(data){
                var html_str = '<p class="text-center text-info"><strong>No Data.</strong></p>'
                if(data.errno == 0){
                    if(data.result.length > 0){
                        html_str = '<ul style="padding-left: 10px;">';
                        var url = "{:U('Index/message_detail')}";
                        for (var i=0;i<data.result.length;i++){
                            html_str = html_str + '<li style="margin-bottom: 5px;"><a href="'+url+'/message/'+data.result[i].message_id+'">' + data.result[i].title + '</a></li>';
                        }
                        html_str += '</ul>';
                    }
                    $("#panel"+category_id).html(html_str);
                } else {
                    $("#panel"+category_id).html(html_str);
                }
            }, "json");
        }
    </script>
</block>
